:root {
    --dark-gray: #121212;
    --light-gray: #2B2B2B;
    --highlighted-light-gray: #343434;
    --green: #61E876;
    --off-white: #B3B3B3;
    --white: #FAFAFA;
}

@font-face {
    font-family: 'SpotifyTitle';
    font-style: normal;
    font-weight: normal;
    src: url("../styles/fonts/spotify-font/SpotifyMixUITitle.woff2") format('woff2');
}

@font-face {
    font-family: 'SpotifyRegular';
    font-style: normal;
    font-weight: normal;
    src: url("../styles/fonts/spotify-font/SpotifyMixUIRegular.woff2") format('woff2');
}

@font-face {
    font-family: 'SpotifyBold';
    font-style: normal;
    font-weight: normal;
    src: url("../styles/fonts/spotify-font/SpotifyMixUIBold.woff2") format('woff2');
}

body {
    background-color: #000000;
}

.border {
    width: 8px;
    float: left;
}

.header {
    height: 48px;
    padding: 4px;
}

.library {
    width: 420px;
    background-color: var(--dark-gray);
    border-radius: 8px;
    float: left;
    height: 100%;
}

.title {
    color: var(--off-white);
    height: 40px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-family: 'SpotifyBold', 'Times New Roman', serif;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
}

.title:hover {
    color: var(--white);
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.title-icon {
    float: left;
    height: 20px;
    width: 20px;
    padding: 10px;
}

.title-text {
    height: 20px;
    padding: 10px;
    padding-left: 4px;
    padding-top: 9px;
}

.filters {
    height: 48px;
    font-size: 14px;
    font-family: 'SpotifyRegular', 'Times New Roman', serif;
    margin-left: 16px;
    display: flex;
    align-items: center;
}

.filters .filter {
    color: var(--white);
    height: 32px;
    width: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    display:inline-block;
    font-size: 14px;
    font-family: 'SpotifyRegular', 'Times New Roman', serif;
    border-radius: 1.5rem;
    background-color: var(--light-gray);
    padding: 0px 12px;
    margin-right: 8px;
}

.filters .filter:hover {
    background-color: var(--highlighted-light-gray);
}

.search {
    color: var(--white);
    height: 32px;
    width: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    font-family: 'SpotifyRegular', 'Times New Roman', serif;
    text-align: center;
    vertical-align: middle;
    line-height: 34px;
    display:inline-block;
    border-radius: 1.5rem;
    margin-left: 16px;
    margin-bottom: 8px;
    margin-top: 2px;
}

.search:hover {
    background-color: var(--light-gray);
}

.search .search-icon {
    padding-top: 2px;
    filter: brightness(76.7%);
}

.search .search-icon:hover {
    filter: brightness(100%);
}

.content {
    height: 64px;
    width: 404px;
    margin-left: 8px;
    border-radius: 8px;
}

.content:hover {
    background-color: var(--light-gray);
}

.content .image img {
    height: 48px;
    width: 48px;
    object-fit: cover;
    margin-left: 8px;
    margin-top: 8px;
    float: left;
    border-radius: 4px;
}

.content .image play {
    background-image: url("play.png");
    opacity: 0;
}

.content:hover>.image img {
    filter: brightness(50%);
}

.content:hover .play {
    opacity: 1;
}

.content .text {
    height: 64px;
    margin-left: 68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content .name {
    color: var(--white);
    font-size: 16px;
    font-family: 'SpotifyRegular', 'Times New Roman', serif;
}

.content .description {
    color: var(--off-white);
    font-size: 14px;
    font-family: 'SpotifyRegular', 'Times New Roman', serif;
}

.main {
    background-color: var(--dark-gray);
    border-radius: 8px;
    margin-left: 8px;
    height: 100%;
    float: left;
}